@import "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    // Writing them in order fixes any bugs with adjustments
    @include lg { 
        background-color: blue;
        max-width: 1280px;
    }

    @include md { 
        background-color: rgb(184, 113, 55);
        max-width: 768px;
    }

    @include sm { 
        background-color: red;
        max-width: 640px;
    }
}
